* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #cecece;
}

main:after {
  content: "";
  clear: both;
  display: table;
}

footer {
  width: 94%;
  position: relative;
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-right: 3.33%;
}

#container {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cecece;
}

.column1 {
  float: left;
  background-color: #cecece;
  width: 40%;
  border-radius: 5px;
  margin-left: 3.33%;
}

.col {
  margin-left: 3.33%;
  margin-top: 3.33%
}

.column2 {
  float: left;
  background-color: white;
  width: 50%;
  border-radius: 5px;
  margin-right: 3.33%;
}

#foto {
  background-image: url("io.jpg");
  background-size: cover;
  background-position: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: inline-block;
  margin-top: 5px;
}

.personal-info {
  text-align: center;
  background-color: white;
  border-radius: 5px;
}

h2, h3, h4 {
  font-family: 'Oswald', sans-serif;
  margin: 10px;
}

p {
  font-family: 'Raleway', sans-serif;
  margin: 10px;
}

.personal-info > h2 {
  color: red;
}

button {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.image-container1 {
  background-image: url("peaky.jpg");
  background-size: cover;
  background-position: center;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 3%;
}

.image-container2 {
  background-image: url("twin-peaks.jpg");
  background-size: cover;
  background-position: center;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 3%;
}

.image-container3 {
  background-image: url("vikings.png");
  background-size: cover;
  background-position: center;
  width: 80px;
  height: 80px;
  float: left;
  margin-right: 3%;
}

.social {
  background-color: white;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
}

.social i {
  font-size: 40px;
  padding: 40px;
  color: #cecece;
}

.social i:hover, .iconic i:hover {
  cursor: pointer;
  color: red;
}

.iconic i {
  font-size: 20px;
  padding: 10px;
  color: #cecece;
}

.iconic {
  position: absolute;
  right: 0;
  bottom: 0;
}

.text-area {
  width: 60%;
  display: inline-block;
}
